.widget-content-LOGO{
    text-align: left;
}

.widget-content-MainBackgroundImage{
    height: auto;
    top: 0px;
	left: 0px;
	width: 100%;
}

.header-image {
	top: 0px;
	left: 0px;
	width: 100%;
}

.footer-content {
	background-color: rgb(201, 230, 205);
	padding-bottom: 10px;
	text-align: center;
}

.tabs {
	width: 800px;
	margin: 0 auto;
}

.tab_item {
	width: 10%;
	height: 40px;
	background-color: #b5b5b5;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	display: block;
	float: left;
	margin: 0 auto;
	transition: all 0.2s ease;
}

.tab_item:hover {
	opacity: 0.1;
	background-color: #494c65;
}

ul{
	padding-left:0;
}

li{
	list-style:none;
}

.background-color {
	background-color: rgb(41, 94, 255);
}